/* General styles */

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #faf0cd, #fab397);
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: #AE5B6C;
    font-weight: bold;
    margin: 0;
}

/* Styles for containers */

.container {
    margin: 0 auto;
    max-width: 40rem;
}

.accordion {
    cursor: pointer;
    transition: background .2s;
}

h1,
.accordion-item {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: solid #AE5B6C 0.1rem;
}

/* Styles for elements inside accordeon-item*/

.accordion-header {
    color: #df0631;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s;
    display: flex;
    justify-content: space-between;
}

.accordion-header::after {
    content: '+';
}

.accordion:hover .accordion-header {
    color: #AE5B6C;
}

.accordion-button {
    display: none;
}

.accordion-button:checked~.accordion-header::after,
.accordion-item:hover .accordion-header::after {
    content: "x";
}

.accordion-button:checked~.accordion-img,
.accordion-item:hover .accordion-img {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.accordion-img {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s opacity, 0.5s visibility;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 23rem;
    padding: 1.5rem;
    margin: 0 auto;
}
